<!doctype html>
<html lang="en">
<head>
	<title>About</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css">
				<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}"
				type="image/x-icon">

        <meta charset="UTF-8">
</head>

<!-- Body -->
<body>

	 <!-- Jumbotron -->
        <div class="jumbotron text-center">

                <h1>boston public art</h1>
                <p>Discover new art in Boston, completely free.</p>
                <p><a href="{{ url_for('paintings') }}">home</a>  <a href="{{ url_for('about') }}">about</a>  <a href="{{ url_for('submit') }}">submit</a></p>

        </div>


	<div class="container-fluid">
	<div class="row">

		<div class="col-md-12" style="padding-left: 50px; padding-bottom: 30px;">
			<h2><b>about</b></h2>
			<br>
			<p>Interested in discovering new, free art in Boston? Looking to learn more about the unique art that makes up the different neighborhoods of Boston? Need a fun, free activity to do with friends and/or loved ones? The Boston Public Art database can help.<br>
This is a web application where you can discover new public art in the Greater Boston Area. Learn more about the art created in the Boston area and what works of art you can discover in the different neighborhoods in this city.<br><br>
			Built as the final project of <i>Fall 2018 CS3200 Database Design</i> at Northeastern University.</p>
		</div>
	</div>
	</div>

	<div class="container-fluid">
	<div class="row">

		<div id="about_cont" class="col-md-3">
			<img id="about_photo" src="{{ url_for('static', filename='10.jpg') }}">
		</div>

		<div id="about_cont" class="col-md-3">
			<img id="about_photo" src="{{ url_for('static', filename='13.jpg') }}">
		</div>

		<div id="about_photo" class="col-md-3">
			<img id="about_photo" src="{{ url_for('static', filename='27.jpg') }}">
		</div>

		<div id="about_photo" class="col-md-3">
			<img id="about_photo" src="{{ url_for('static', filename='11.jpg') }}">
		</div>


	</div>
	</div>


	<!-- Footer -->
	<footer class="container-fluid bg-4 text-center">
        	<p>© boston art 2018 | all rights reserved</p>
	</footer>
</body>
</html>
