<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"
	type="text/css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

	<meta charset="UTF-8">
	<title>Home</title>
</head>
<!-- Body -->
<body>

	<!-- Jumbotron -->
	<div class="jumbotron text-center">

		<h1>boston public art</h1>
		<p>Discover new art in Boston, completely free.</p>
		<p><a id="art_img" href="{{ url_for('paintings') }}">home</a>
			<a href="{{ url_for('about') }}">about</a>
			<a href="{{ url_for('submit') }}">submit</a></p>

	</div>

	<!-- Artist information -->

	{% if result %}

	{% for row in result %}
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="padding-bottom:30px; padding-left:30px;">
		<h3><b>{{ row[1] }}</b></h3>

			<div class="row">
			<div class="col-md-6">

			<img id="art_img" src=" {{ row[9] }}">

			</div>
			<div id="artist_descr" class="col-md-6" style="padding-left:30px; padding-right:30px;">

				<h4>By {{ row[5] }} {{ row[6] }}</h4>
				<h5><i class="fas fa-map-marker-alt"></i> {{ row[3] }}</h5>
				<h5>Find it at the {{ row[2] }} neighborhood</h5><br>
				<h5><b>Description</b></h5>

				{{ row [8] }}<br><br>

				<b>Created in:</b> {{ row[0] }}
				<br><br>
				<b>Art Features:</b><br>
				<p><b><i class="fas fa-paint-brush"></i> Size:</b> {{ row[4] }}<br>
					 <b><i class="fas fa-paint-brush"></i> Medium:</b> {{ row[7] }}</p>

			</div>
			</div>

		</div>
	</div>
	</div>

	{% endfor %}
	{% endif %}

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
	<p>© boston art 2018 | all rights reserved</p>
</footer>


</body>
</html>
