<!doctype html>
<html lang="en">
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css">

        <meta charset="UTF-8">

	<title>Submit</title>
</head>

<body>

	<!-- Jumbotron -->
	<div class="jumbotron text-center">
		<h1>boston public art</h1>
		<p>Discover new art in Boston, completely free.</p>
		<p><a href="{{ url_for('paintings') }}">home</a>  <a href="{{ url_for('about') }}">about</a>
			<a href="{{ url_for('submit') }}">submit</a></p>
	</div>

	<!-- Submit -->
	<div class="container-fluid">
	<div class="row">

		<div id="submit" class="col-md-8">
			<h2>submit new public art</h2>
			<div class="row">
				<form action="{{ url_for('insert') }}" method="post">
				<div class="col-md-12" style="padding-bottom:10px">
					<h4>Upload image URL</h4>

					<input class="form-control" id="image-url" name="image" placeholder="image URL" type="text">
				</div>
			</div>

			<div class="row">
			<div class="col-md-12" style="padding-bottom:10px">
				<h4>Art Title</h4>

				<input class="form-control" id="image-url" name="title" placeholder="work title" type="text">
			</div>
		</div>

			<div class="row">
				<div class="col-md-12" style="padding-bottom:10px;">
					<h4>Art Description</h4>
					<textarea class="form-control" id="description" name="description" placeholder="Description" rows="5"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6" style="padding-bottom:10px;">
					<h4>Artist First Name</h4>
					<input class="form-control" id="artist" name="artistfirst" placeholder="artistfirst" type="text">
				</div>
				<div class="col-md-6" style="padding-bottom:10px;">
					<h4>Artist Last Name</h4>
					<input class="form-control" id="artist" name="artistlast" placeholder="artistlast" type="text">
				</div>
			</div>

			<div class="row">
				<div class="col-md-8" style="padding-bottom:10px; padding-right:10px;">
					<h4>Location*</h4>
					<input class="form-control" id="location" name="location" placeholder="location" type="text" required>
				</div>
				<div class="col-md-4" style="padding-bottom:10px;">
				<h4>Neighborhood*</h4>
					<input class="form-control" id="neighborhood" name="neighborhood" placeholder="neighborhood" type="text" required>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-bottom:10px; padding-right:10px;">
				<h4>Year Created</h4>
					<input class="form-control" id="date" name="date" placeholder="date" type="text">
				</div>
				<div class="col-md-4" style="padding-bottom:10px; padding-right:10px;">
				<h4>Genre*</h4>
					<input class="form-control" id="genre" name="genre" placeholder="genre" type="genre">
				</div>
				<div class="col-md-4" style="padding-bottom:10px; padding-right:10px;">
				<h4>Size</h4>
					<div class="form-group">
						<select class="form-control" id="formControlSelect1" name="size" type="size">
						  <option>small</option>
						  <option>medium</option>
						  <option>large</option>
						  <option>extra large</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12" style="padding-bottom:30px;">

				<button class="btn btn-primary pull-right" type="submit">Submit</button>
				</div>
			</form>

			</div>
		</div>

		<!-- How to Submit -->
		<div class="col-md-4" style="padding-bottom:30px;">

			<h3>How to submit:</h3>
			<p>Our platform is always looking for new works of public art in Boston
				so that we can share it with more users who are looking to discover all
				the art that Boston has. Have you discovered new art in the Greater
				Boston Area? Let us know by submitting the work here!<br>Please fill
				out the submission form to the best of your ability.
				Fields marked by an asterisk are required, but it is recommended that as
				 many fields as possible be completed.</p>
		</div>
	</div>
	</div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid bg-4 text-center">
		<p>© boston art 2018 | all rights reserved</P.
	</footer>

</body>

</html>
